[2021-02-26 17:13] Vyvy-vi opened #1 "FEAT: Add a .env file beforehand"
## Description-
Discord bot API token and other API keys should be added in a .env beforehand(rather than hard-coding while _testing_).

### Q) But Why?:
Ans- To prevent accidental pushing of keys

*this issue is on a lighter note:
CONTEXT: https://discord.com/channels/699608417039286293/801475116668026951/814615707773435945

[2021-02-26 17:17] SashoStoichkov opened #2 "Feat. Create project goal"
Discuss with the community the goal for the Discord bot

Live Stream: https://www.youtube.com/watch?v=pekHBfYd1-Q

[2021-02-26 17:33] Vyvy-vi commented on #1
Yes, but the Github secrets don't work locally?

[2021-02-26 17:34] adityaraute opened #3 "Link to Stargate"
Since a lot of folks might not be aware about Stargate, add a link to the repo in the README file.

[2021-02-26 17:35] #2 closed

[2021-02-26 17:36] nhcarrigan opened #4 "Set Up Contributor Tooling"
Let's add tooling such as `eslint`, `husky`, `prettier` to ensure code standards as we accept contributions from members.

Here's my default TypeScript tooling: https://github.com/nhcarrigan/code-snippets/tree/main/node-ts-config

[2021-02-26 17:36] KhushiSharma22 opened #5 "Info about Stargate"
We can add more information about Stargate for other people to understand better!

[2021-02-26 17:37] Nitesh-thapliyal opened #6 "Update readme"
Adding info about stargate

[2021-02-26 17:38] nhcarrigan opened #7 "Documentation!"
We will need the following documentation:

- Contributing guidelines
- Privacy Policy (required for Discord bots)
- Flesh out readme
- Usage documentation

[2021-02-26 17:38] nhcarrigan opened #8 "Add Issue and PR templates"
We should implement issue templates and a pull request template.

We can consider using the Creative Commons Open Source Labels: https://opensource.creativecommons.org/contributing-code/repo-labels/

[2021-02-26 17:38] jai-dewani commented on #3
Here is the link to stargate -> https://stargate.io/

[2021-02-26 17:39] nhcarrigan commented on #1
They also won't work if you deploy elsewhere. A `.env` file (for a node-js environment) is almost universally recognised by hosting platforms as your "secrets".

[2021-02-26 17:40] FemiOluwadamilola opened #9 "add stargate link address to the read me"
I think adding link to the landing page of stargate to the readme would be great

[2021-02-26 17:40] jai-dewani commented on #3
We can also add a short intro if needed, this one is straight off their website

[2021-02-26 17:40] Rahma-AlWadhahi opened #10 "Feat: Create GitHub Action"
### Description

It would be really helpful to add a GitHub action that will cover the following:

- Check lint issues
- Help with updating forked repo

[2021-02-26 17:40] nhcarrigan opened #11 "Workflows - CI for GitHub Actions"
As we establish the code, we'll want to enable CI such as verifying the lint, build, and tests all pass.

Enable Dependabot security updates: https://github.com/nhcarrigan/code-snippets/blob/main/optional-workflows/dependabot.yml

Enable Node.js CI: https://github.com/nhcarrigan/code-snippets/blob/main/optional-workflows/node-ci.yml

[2021-02-26 17:42] Vyvy-vi commented on #7
Since, Privacy Policies are mentioned. Here are a few autogeneraters for it:

https://app-privacy-policy-generator.firebaseapp.com/

https://termly.io/products/privacy-policy-generator/

https://getterms.io/

https://www.shopify.com/tools/policy-generator

And a reference to Nick's Policy(it's good):
https://github.com/nhcarrigan/Becca-Lyria/blob/main/PRIVACY.md

My bot's privacy policy(inspired f

[2021-02-26 17:42] nhcarrigan commented on #11
Closing as duplicate of #10

[2021-02-26 17:42] #11 closed

[2021-02-26 17:43] reapedjuggler opened #12 "Technologies Used!"
Create a `.md` file listing the technologies we are using
For example - **typescript**

Suggestion: A ordered List would be a good way to list them.
Feel free to ask any doubts :)

[2021-02-26 17:43] mrunankpawar opened #13 "Info about stargate on social media platforms"
If we can share deep info about what actually stargate is on social media platforms then we can get some great suggestions from others as well which can be helpful.

[2021-02-26 17:44] krniya opened #14 "Which Technology is being used?"
- Details of tech which we are going to use in discord bot.

[2021-02-26 17:44] reapedjuggler commented on #5
Here's a link to their Github Repository
[StarGate](https://github.com/stargate/stargate)

[2021-02-26 17:45] reapedjuggler commented on #14
I think this is already mentioned in #12

[2021-02-26 17:45] #14 closed

[2021-02-26 17:46] Vyvy-vi commented on #10
#10 refers this issue too
Here are some of the links from that issue:

Enable Dependabot security updates: https://github.com/nhcarrigan/code-snippets/blob/main/optional-workflows/dependabot.yml

Enable Node.js CI: https://github.com/nhcarrigan/code-snippets/blob/main/optional-workflows/node-ci.yml

[2021-02-26 17:46] jai-dewani opened #16 "Creating profile picture for stargate bot"

[2021-02-26 17:49] Vyvy-vi commented on #16
Some inspiration:
https://github.com/EddieHubCommunity/Branding/blob/main/assets/chibi.png
Image from stargate's website(it's nice)-
![Stargate site astronaut](https://user-images.githubusercontent.com/62864373/109336146-02566080-7889-11eb-8212-19144484b577.png)

[2021-02-26 17:51] Vyvy-vi commented on #6
partly adsressed in #9

[2021-02-26 17:53] Vyvy-vi commented on #8
Issue templates would be great-!
We can use the ones from https://github.com/EddieHubCommunity/EddieBot/tree/develop/.github/ISSUE_TEMPLATE
(after editing some data in there)

[2021-02-26 17:55] Vyvy-vi commented on #9
duplicate of #5

[2021-02-26 17:57] Vyvy-vi commented on #6
Maybe the title can be more descriptive of the issue?

[2021-02-26 17:58] #6 closed

[2021-02-26 17:59] #5 closed

[2021-02-26 17:59] #9 closed

[2021-02-26 18:07] adityaraute commented on #3
I meant the link to their GitHub repository as well

[2021-02-26 18:10] eddiejaoude commented on #12
I think the technologies will be:

- Typescript
- Stargate
- ...

[2021-02-26 18:10] starlightknown opened #18 "Add CONTRIBUTING.md and CODE OF CONDUCT"
Adding contributing.md to help potential project contributors with a short guide to how they can help with your project

[2021-02-26 18:11] reapedjuggler commented on #12
Can you add some relevant labels to the issue, I think it would be helpful : D

[2021-02-26 18:11] srinath1412001 opened #19 "We could move this repo to EddieHub Organisation"
We could move this repository to EddieHub Organisation (within Github) to make the project visible to a wider crowd.

[2021-02-26 18:12] eddiejaoude commented on #19
Oh love this idea 👍 💪

[2021-02-26 18:13] #3 closed

[2021-02-26 18:14] muthuannamalai12 commented on #18
Can I do it

[2021-02-26 18:14] mrunankpawar opened #22 "EddieBotMap"
Creating a map which is just similar to Snapchat and we can add events or hackathons to the Map so that folks can stay updated where the hackathons and events are taking place on the map

[2021-02-26 18:15] Vyvy-vi commented on #19
​(but not right now)
​Eddie, our remotes have upstreams linked to your account

[2021-02-26 18:16] mrunankpawar commented on #22
![snapmap](https://user-images.githubusercontent.com/65391854/109338734-a8f03080-788c-11eb-8f31-6c92867b55d1.png)

[2021-02-26 18:18] FemiOluwadamilola commented on #12
can JavaScript also be use as part of the technologies? some of us only code on javascript

[2021-02-26 18:20] muthuannamalai12 opened #25 "Add Contributing.md"
We can have these links for the following in CONTRIBUTION.md file
1.We can add Github documentation links for
i). Getting started with Git and GitHub
ii). Forking a Repo
iiI). Cloning a Repo
iv). How to create a Pull Request
2.Also, we can give the links for git installation
3.We can also add Style Guides for Git Commit Messages
These things will help people new to opensource understand clearly on

[2021-02-26 18:24] Nitesh-thapliyal commented on #16
![imgbin-cartoon-astronaut-eSBfGEc7ASVEUmRMnaJDb64vD](https://user-images.githubusercontent.com/53345517/109339590-db4e5d80-788d-11eb-9bd7-898b9ae440e2.jpg)

[2021-02-26 18:26] SashoStoichkov opened #26 "Create CODE_OF_CONDUCT.md"
Created during live stream: https://www.youtube.com/watch?v=pekHBfYd1-Q

[2021-02-26 18:26] muthuannamalai12 opened #27 "Add Code of Conduct"
I would like to add a code of conduct file as code of conduct is a necessary file which the contributors need to follow so that everyone follows a decorum.

[2021-02-26 18:27] Vyvy-vi commented on #25
partially mentioned in #18

[2021-02-26 18:27] #12 closed

[2021-02-26 18:27] muthuannamalai12 commented on #27
Closing this duplicate of #26

[2021-02-26 18:27] #27 closed

[2021-02-26 18:27] Vyvy-vi commented on #18
Yes, you can @muthuannamalai12 (I think if no one's working on it rn)

[2021-02-26 18:28] nhcarrigan commented on #8
This JS snippet, when run in your browser console, will add the labels to your repo: https://raw.githubusercontent.com/nhcarrigan/code-snippets/main/transfer-github-labels/import.js

Please note you should delete the existing labels manually first.

[2021-02-26 18:28] Vyvy-vi commented on #18
Copying relevant info from #25 over here:

1.We can add Github documentation links for
i). Getting started with Git and GitHub
ii). Forking a Repo
iiI). Cloning a Repo
iv). How to create a Pull Request
2.Also, we can give the links for git installation
3.We can also add Style Guides for Git Commit Messages
These things will help people new to opensource understand clearly on how to create an issue

[2021-02-26 18:29] Vyvy-vi commented on #26
partially mentioned in #18

[2021-02-26 18:30] Vyvy-vi commented on #22
Interesting-!

[2021-02-26 18:30] eddiejaoude commented on #26
Created 👍

[2021-02-26 18:30] #26 closed

[2021-02-26 18:33] jai-dewani commented on #16
@kcoder63

[2021-02-26 18:33] yalematta opened #29 "Discord Bot Feature: Command to Add Bio / Get Bio"
We might need a command for the Discord bot to add bio and retrieve bio.

Set Bio
-------
/bio "I am a Software Engineer. I love eating and computers."

Retrieve Bio of someone by tagging them in the command
----------------------------------------------------------
/bio @eddiejaoude

Add Social Links
-----------------
person> /bio add github https://github.com/yalematta
bot> added bio

[2021-02-26 18:33] Nitesh-thapliyal opened #30 "Add introduction video of Stargate in readme"
[Stargate introduction](https://youtu.be/2ltVf2EscmM)

[2021-02-26 18:35] reapedjuggler opened #31 "Add some Linter checks to the bot"
Suggestion: As the projects proceeds we can add some linter checks to the bot so as to reduce errors and improve the overall quality of code

You can read more about Linter here
[What is Linter](https://sourcelevel.io/blog/what-is-a-linter-and-why-your-team-should-use-it)

[2021-02-26 18:36] KhushiSharma22 opened #32 "Bio Feature for this bot"
We can modify the feature of retrieving the bio of other person without actually tagging the person.

[2021-02-26 18:36] Vyvy-vi commented on #32
Duplicate of #29

[2021-02-26 18:37] Nitesh-thapliyal opened #33 "Add feature of FAQ in the bot"
If users have questions that are frequently asked so for that we can create FAQs, folks can use the FAQ command and the bot will show frequently asked questions answere

[2021-02-26 18:38] reapedjuggler opened #34 "Integrating discord with the channel's Twitter account"
We can integrate the discord bot with the channel's Twitter account so that nobody misses on any  update
Feel free to ask any doubts :)

[2021-02-26 18:39] Vyvy-vi commented on #31
duplicate of #4
related to #10 and #11

[2021-02-26 18:42] muthuannamalai12 opened #36 "Adding Stale Bot"
I would like to add a stale bot that Automatically close stale Issues and Pull Requests that tend to accumulate during a project.

[2021-02-26 18:43] Vyvy-vi commented on #34
I think this bot is not related to EddieHub's bot.
This bot is for another client.
However, we could link the twitter on the EddieHub Bot:
https://github.com/EddieHubCommunity/EddieBot

[2021-02-26 18:43] Vyvy-vi commented on #36
ref: #10

[2021-02-26 18:44] yalematta opened #37 "Discord Bot Feature: Command to Add Social Links"
Set Social Links
/social github = "https://github.com/yalematta"
/social twitter = "https://twitter.com/yalematta"

[2021-02-26 18:45] reapedjuggler commented on #31
Had a look, Thank you for pointing out : D

[2021-02-26 18:45] KhushiSharma22 opened #38 "Custom Introduction video for Stargate"
We can create a custom video for Stargate to help people get a better idea of Stargate and what this project is about:

1. Adding custom info about Stargate
2. Adding necessary details about the project
3. Maybe we can use some animations just to make it a little bit fun

[2021-02-26 18:45] #31 closed

[2021-02-26 18:46] Vyvy-vi commented on #38
Would be great-!
(Eddie's video for the next week?)
ref: @eddiejaoude

[2021-02-26 18:47] Vyvy-vi commented on #37
I think the `/bio` command is meant for that purpose
ref: #29

[2021-02-26 18:48] Vyvy-vi commented on #37
This can be added in the bio command in this way-
[code]

[2021-02-26 18:49] Vyvy-vi commented on #16
What's the source for this?:
@Nitesh-thapliyal (we might need to credit the author)

[2021-02-26 18:50] Vyvy-vi commented on #8
Thanks, for this, nick :)

[2021-02-26 18:51] adityaraute commented on #36
It's the first day of the repo and y'all wanna add Stale Bot 😂

not a bad idea though

[2021-02-26 18:51] reapedjuggler commented on #38
We can also add some custom slides on Stargate apart from videos?

[2021-02-26 18:52] Vyvy-vi commented on #36
Idk stalebot has been annoying as of late :joy:
We just keep re-opening the issues/PRs

[2021-02-26 18:54] yalematta opened #39 "Discord Bot Feature: Command to Add Timezone"
Add Timezone
--------------

/timezone PST
/timezone EST etc.

[2021-02-26 18:56] #37 closed

[2021-02-26 18:57] yalematta commented on #37
As mentioned by @Vyvy-vi, this is part of the /bio command.

[2021-02-26 18:57] Vyvy-vi commented on #39
I think instead of timezone terms, we should use "Timezone Area"
(Daytime-saving makes timezones weird in a few places)

[2021-02-26 18:59] kcoder63 opened #41 "Add a privacy policy"
Discord bots requires privacy policy when it uses the API

[2021-02-26 19:00] eddiejaoude commented on #36
PR merged 👍

[2021-02-26 19:00] #36 closed

[2021-02-26 19:00] moeinio commented on #7
some additional info is needed in order for this to be generated, things like: email address, phone number, company name, etc...

[2021-02-26 19:01] FemiOluwadamilola commented on #38
this will be great  !!!

[2021-02-26 19:01] Vyvy-vi commented on #36
addressed by #40

[2021-02-26 19:04] Vyvy-vi commented on #41
duplicate of  #7

[2021-02-26 19:05] patel-himanshu opened #43 "Addition of relevant data flow diagrams on README.md using Mermaid"
A data flow diagram detailing the state of data flow between the user, Stargate and Cassandra, by making use of [Mermaid](https://mermaid-js.github.io/mermaid/#/).

[2021-02-26 19:09] Vyvy-vi opened #45 "FEAT: Make this in PYTHON too"
Denise is a python developer too.
Maybe this can be synced with more Data-intensive commands(python is really great at that) revolving around their niche?

[2021-02-26 19:13] Nitesh-thapliyal commented on #16
@Vyvy-vi I found it here https://imgbin.com/png/AdKWZ1bA/cartoon-astronaut-png

[2021-02-26 19:13] Vyvy-vi commented on #45
Yes, that can be done

[2021-02-26 19:13] Vyvy-vi commented on #45
We can implement the SLASH-commands using python

[2021-02-26 19:14] Vyvy-vi commented on #45
And use the main bot using discord.js

[2021-02-26 19:14] Vyvy-vi commented on #45
(We can make the Python one in slash commands and the other one main bot with js)
​Slash commands don't rely on Websockets

[2021-02-26 19:17] eddiejaoude commented on #30
PR closed in #47

[2021-02-26 19:17] #30 closed

[2021-02-26 19:17] srinath1412001 commented on #30
#47 solves this issue

[2021-02-26 19:17] Vyvy-vi commented on #7
Yes, I think this would be best made by @eddiejaoude or the clients.
esp. since this is considering legal issues and might need their insights for this.

[2021-02-26 19:19] #41 closed

[2021-02-26 19:39] Prathamesh-Shanbhag opened #49 "Using Conventional Commits"
[Conventional Commits](https://www.conventionalcommits.org/en/v1.0.0/)

[2021-02-26 19:42] Vyvy-vi commented on #49
Yes, it would be great to add that to the `CONTRIBUTING.md` :+1:
ref: #28

[2021-02-26 19:46] Prathamesh-Shanbhag commented on #49
Yes! Thank you for mentioning it!

[2021-02-26 20:58] eddiejaoude commented on #1
I think for local development we will use `.env` but for deployment we will use GitHub Secrets

[2021-02-26 22:29] BOLT04 commented on #8
Amazing idea @nhcarrigan 💯 💯, I didn't know about that labels standard so I learned something new today 😄.
Plus the JS script to add the labels, simply amazing 😃. Thank you for your suggestion!

[2021-02-26 23:19] FemiOluwadamilola opened #51 "make the intro video in the Readme.md load on a different tab"
making the intro video in the readme load on a different tab would be great !!! because when you click on the video link it takes you out of github to youtube!

[2021-02-26 23:31] AllanRegush commented on #51
I don't think this is possible. GitHub sanitises all HTML in markdown to prevent XSS attacks. If you want a new tab  - CTRL+CLICK.

[2021-02-26 23:44] FemiOluwadamilola commented on #51
Thanks  !!!

[2021-02-27 09:02] Vyvy-vi commented on #51
I think we could maybe set up a brief GIF and just link the video

[2021-02-27 09:51] CreaTorAlexander commented on #51
I can do the gif 👋

[2021-02-27 11:23] eddiejaoude commented on #19
yep, not right now 👍

[2021-02-27 12:35] SashoStoichkov commented on #45
That is a great idea 💯

[2021-02-27 23:33] FemiOluwadamilola commented on #51
that would be nice @CreaTorAlexander

[2021-03-02 15:02] eddiejaoude commented on #2
thanks @SashoStoichkov 👍

[2021-03-02 15:02] eddiejaoude commented on #4
Yep, we should add these from the beginning 👍

[2021-03-02 15:03] eddiejaoude commented on #1
So we need both ideas 👍 thank you 🤓

[2021-03-02 15:04] eddiejaoude commented on #11
Yes we will need those 👍

[2021-03-02 15:05] eddiejaoude commented on #13
Thanks for the suggestion 👍

[2021-03-02 15:32] nhcarrigan commented on #10
#54 added the node CI

[2021-03-02 15:33] nhcarrigan commented on #4
Closed in #54

[2021-03-02 15:33] #4 closed

[2021-03-02 15:40] eddiejaoude commented on #5
Thank you 👍

[2021-03-02 17:40] eddiejaoude opened #56 "Labels to use open source standard"
[code]

Using the label convention from https://opensource.creativecommons.org/contributing-code/repo-labels/

[2021-03-02 18:02] eddiejaoude commented on #10
Thanks for raising @Rahma-AlWadhahi 👍

PR for this merged in #54, I will close

[2021-03-02 18:02] #10 closed

[2021-03-02 18:38] eddiejaoude commented on #13
@mrunankpawar we should definitely do this 👍 I think I will close this issue and more specific issues can be raise. Feel free to raise more issues 🟩

[2021-03-02 18:38] #13 closed

[2021-03-02 19:31] #56 closed

[2021-03-02 22:03] eddiejaoude commented on #34
At the moment, they are separate 👍

[2021-03-02 22:33] eddiejaoude commented on #49
Also good to use Huski as a pre-commit hook too

[2021-03-02 22:39] eddiejaoude opened #59 "commit messages to be linted with husky"
Documentation https://commitlint.js.org/#/guides-local-setup

[2021-03-02 23:58] eddiejaoude commented on #14
Thank you for raising the issue 👍 and triaging too 🤓  - closed issues/prs still get 🟩

[2021-03-02 23:59] eddiejaoude commented on #9
Thank you for raising the issue 👍 closed issues/prs still get 🟩

[2021-03-03 00:01] eddiejaoude commented on #3
Thank you for raising the issue 👍

[2021-03-03 00:04] eddiejaoude commented on #22
This is a great idea for the future 👍

[2021-03-03 11:40] Vyvy-vi commented on #22
I suppose this also overlaps with EddieBotMap a bit.
Could you raise a discussion for this on the org?

[2021-03-04 12:48] eddiejaoude commented on #31
Thank you for creating the issue and triaging 👍 great team work 💪

[2021-03-04 12:55] eddiejaoude commented on #37
Thank you for creating the issue and triaging 👍 great team work 💪

[2021-03-04 12:57] eddiejaoude commented on #37
Would separate commands make it easier or harder?

[code]

or

[code]

What do you think?

[2021-03-04 12:58] eddiejaoude commented on #39
Can you give some examples of what would be good to use?

[2021-03-04 13:00] eddiejaoude commented on #38
Great idea and suggestions 👍

Anything else we should include in addition to @KhushiSharma22 's suggestions?

[2021-03-04 13:02] eddiejaoude commented on #36
Thanks @Vyvy-vi 👍

[2021-03-04 13:04] eddiejaoude commented on #43
What diagram types could be useful?

- Sequence diagram  https://mermaid-js.github.io/mermaid/#/sequenceDiagram
- Relationship diagram https://mermaid-js.github.io/mermaid/#/entityRelationshipDiagram
- ?

[2021-03-04 14:07] eddiejaoude commented on #41
Thanks for raising 👍 and collaborating on triaging issues 💪

[2021-03-04 19:25] eddiejaoude opened #61 "Notes from Adobe XD to the README for transparency"
- Include this in the README
- Also have a text version for the most important parts

![DataStax Discord Bot v0.1](https://user-images.githubusercontent.com/624760/110018509-416c3200-7d1f-11eb-8f1b-444557401906.png)

[2021-03-04 19:36] #1 closed

[2021-03-04 21:13] #49 closed

[2021-03-04 21:13] #59 closed

[2021-03-04 22:20] #61 closed

[2021-03-04 23:33] eddiejaoude opened #64 "Build docs to GitHub Pages with AsciiDoctor"
**Description**

To view the docs on GitHub Pages with be better DX. This can include diagrams and generate a PDF later as required

https://asciidoctor.org

[2021-03-05 14:25] Rupak1432 opened #65 "Numbered list of Quickstart in README.md does not count correctly."
**Description.**

The Numbered list of Quickstart at the bottom of READ.md is not correct.
  - [Quickstart](https://github.com/eddiejaoude/stargate#quickstart)

It should appear as below,

6. install dependencies `npm install`
7. install husky helpers `npm run prepare`

[2021-03-06 08:05] adityaraute commented on #19
Well then when? Wouldn't be too hard to change the upstreams, right?

[2021-03-06 18:18] nhcarrigan commented on #8
This can be closed now, I believe.

[2021-03-06 18:18] #8 closed

[2021-03-06 18:57] AllanRegush opened #68 "Live stream poker planning for story points on issues."
**Description**

I think there should be a live stream planning the story points.

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-03-06 19:00] adityaraute commented on #68
Did someone say Poker?

[2021-03-06 19:36] eddiejaoude commented on #68
Great idea @AllanRegush 👍

A live stream with 4-5 people going through the issues, discussing them and voting on them with story points would be great to show how real Agile projects do it 👍

We could use an online Agile poker board to have every vote and make it visual for the live stream.

Potential people to be on the live stream
- @nhcarrigan
- @AllanRegush
- Pieter from DataStax
- Eddie

[2021-03-07 08:09] adityaraute commented on #68
Okay I might need more explanation than that. First up — what's story points? I think I have heard it in case of Agile but not sure. (That was user story).

Also what's poker got to do with all this?

[2021-03-08 10:58] eddiejaoude commented on #68
**story points** are how much effort/risk, not time the story (feature) will need. The higher the points more the more unknown / risk there is. I would rather have 8 stories with 1 point each, than 1 story with 8 points.

To point stories, these are done as a team exercise, where each team member gets cards containing Fibonacci sequence. When poker planning, if there is a difference in points betw

[2021-03-08 14:23] eddiejaoude opened #69 "Dockerise app"
Dockerising the app is great for

- Build a Docker package
- Publish to GitHub Registry
- Github to run both steps

[2021-03-08 17:03] adityaraute commented on #68
Yes that helps. let's do it.

[2021-03-08 18:30] #65 closed

[2021-03-09 18:37] eddiejaoude opened #71 "CI Actions badges"
Badges in README for

- import labels
- node ci
- publish docker image

https://github.com/eddiejaoude/stargate/tree/main/.github/workflows

Example badge

[![GitHub Super-Linter](https://github.com/eddiejaoude/stargate/workflows/Node.js%20CI/badge.svg)](https://github.com/eddiejaoude/stargate/actions/workflows/node-ci.yml)

[code]

[2021-03-09 18:50] eddiejaoude opened #72 "Deploy to Docker container to Kubernetes cluster"
Docker containers are build on a GitHub release with a [GitHub Action](https://github.com/eddiejaoude/stargate/pull/70), next step is to deploy these to our Kubernetes cluster with a GitHub Action

- [x] Create a Kubernetes secret for the Discord token via environment variable (Sid)
- [x] Hello world Discord Bot (Eddie)
- [x] With test command to get app version (Eddie)
- [x] Docker environment to

[2021-03-10 16:40] avinashupadhya99 opened #74 "Use SSH in the quickstart docs"
**Description**

Instead of using HTTPS after forking, it would be recommended to use SSH. A lot more secure and good way to go about things for contributors.

**Screenshots**

N/A

**Additional Context**

Change `clone project git clone https://github.com/<YOUR-USERNAME>/stargate` to `clone project git clone git@github.com:<YOUR-USERNAME>/stargate.git` in the **README.md** under *QuickStart*

Joi

[2021-03-10 20:25] eddiejaoude opened #75 "Build version number included in docs"
It would be great to include the build number in the docs, so if someone has an issue with the docs, we know exactly what version they are looking at - it could be out of date

- Asciidoctor can have a custom footer
- On GitHub Action replace `{{ VERSION }}` in the footer with the `package.json` version
- When building the docs include the custom footer

[2021-03-10 20:26] eddiejaoude opened #76 "Create Changelog from commits"
When a release is created, a changelog file could be added to the code base since the previous release

[2021-03-10 23:14] #69 closed

[2021-03-10 23:58] #64 closed

[2021-03-11 06:16] CreaTorAlexander commented on #71
I can work on this but I am uncertain how the badges for import labels and publish docker image should look like.

For docker image should it be the system that is running like

[code]

[2021-03-11 14:13] eddiejaoude opened #78 "Docker package to use same version number as Release"
Currently the release version and the docker versions do not match

<img width="1039" alt="Screenshot 2021-03-11 at 14 14 28" src="https://user-images.githubusercontent.com/624760/110800515-285e0680-8274-11eb-9a0d-cb1847a0eee2.png">

https://github.com/users/eddiejaoude/packages/container/stargate/versions

<img width="1672" alt="Screenshot 2021-03-11 at 14 14 44" src="https://user-images.githubus

[2021-03-11 14:50] eddiejaoude commented on #71
Thanks @CreaTorAlexander 👍

I am not sure either 😂 - I think this is one of those things, that will get little improvements / tweaks as we go along. Feel free to do what you think is best and I think that will be a great starting point 🤓

[2021-03-11 22:27] eddiejaoude opened #80 "Agile story point labels"
https://www.atlassian.com/agile/project-management/estimation

Numbers needed are from Fibonacci sequence
https://en.wikipedia.org/wiki/Fibonacci_number

[code]
https://github.com/eddiejaoude/stargate/blob/main/docs/labels.json

[2021-03-12 09:58] eddiejaoude commented on #22
Yep there are some overlaps - we will see if we can merge some of these ideas/projects/repo etc in the near future 🤓

[2021-03-12 17:13] #80 closed

[2021-03-12 18:00] eddiejaoude opened #82 "Github Actions table in README"
markdown table in the readme explain what Action we have with the following columns

- badge (from #71)
- name
- triggers
- results

[2021-03-12 18:10] Prathamesh-Shanbhag opened #83 "Write CRUD services to the Stargate database"
- add http client
- typescript interfaces for data
- authentication
- service to manage CRUD

[2021-03-12 18:13] jai-dewani opened #84 "Create account on Stargate Serverless (GitHub)"
Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-03-12 18:13] eddiejaoude opened #85 "Create account on Stargate Serverless (GitHub)"
- register with Stargate serverless
- create database and namespace

[2021-03-12 18:16] jai-dewani commented on #84
Already created by Eddie #85

[2021-03-12 18:16] #84 closed

[2021-03-12 18:22] eddiejaoude commented on #83
dependent on #76

[2021-03-12 18:23] nhcarrigan commented on #83
dependent on #67

[2021-03-12 18:23] nhcarrigan commented on #83
not 76 :)

[2021-03-12 18:26] stemount opened #86 "Docker Compose for local dev environment?"
**Description**

Ticket needs grooming... `docker run` makes a bit of a mess if people already have existing Cassandra(?) / Stargate instances I am guessing.

it could also set up the networking for a local dev as well and even be recycled for configuration of the k8s file if it is one image etc etc

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-03-12 18:27] stemount opened #87 "asdadsads"
**Description**

**Screenshots**

**Additional Context**    asdsad

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-03-12 18:31] stemount commented on #87
I am quite satisfied that this issue is worth closing.

[2021-03-12 18:31] stemount commented on #87
I am quite satisfied that this issue is worth closing.

[2021-03-13 16:48] eddiejaoude opened #88 "Build version number included in deployed app"

[2021-03-14 22:09] Vyvy-vi commented on #39
I think the following might could good-
[code]
offsets and area based?

[2021-03-14 23:11] sidpalas commented on #72
Commands to create/update kubernetes secret:

[code]

If we created directly with `kubectl create secret` there is no good way to update it. As a workaround we can generate the corresponding yaml, store it in a file, and then use `kubectl apply`

[2021-03-14 23:12] sidpalas commented on #72
To consume secret as environment variable within the pod we can use:

[code]

[2021-03-14 23:13] eddiejaoude commented on #72
Great 👍 thanks. I will update the docker container tomorrow to use the environment variable

[2021-03-15 14:22] #68 closed

[2021-03-15 17:03] #78 closed

[2021-03-15 17:20] #72 closed

[2021-03-15 17:27] #76 closed

[2021-03-15 18:15] eddiejaoude commented on #72
TODO

- trigger `kubernetes` workflow from the docker registry event
- replace `latest` tag in the `kubernetes` workflow with the docker image tag corresponding to the release
- update docker file and docker build action to store app version number in the container image
- update `kubernetes` workflow to update secrets from GitHub

[code]

- document how to create a new secret on kubernetes

[2021-03-16 12:16] eddiejaoude opened #91 "Trigger Kubernetes deployment via new docker package"
https://github.com/eddiejaoude/stargate/issues/72#issuecomment-799640072

- trigger `kubernetes` workflow from the docker registry event

[2021-03-16 12:17] eddiejaoude opened #92 "Deploy docker container with specific version not latest"
https://github.com/eddiejaoude/stargate/issues/72#issuecomment-799640072

- replace latest tag in the kubernetes workflow with the docker image tag corresponding to the release

[2021-03-16 13:31] eddiejaoude opened #93 "Dockerfile to contain build version of the app from package.json"
https://github.com/eddiejaoude/stargate/issues/72#issuecomment-799640072

- update docker file and docker build action to store app version number in the container image

[2021-03-16 16:47] eddiejaoude commented on #91
I moved the `kubernetes` workflow into the `docker` workflow, because it would not trigger - maybe I had too many Actions chained together. But this now deploys 🎉

[2021-03-16 16:47] #91 closed

[2021-03-16 16:48] eddiejaoude commented on #92
<img width="798" alt="Screenshot 2021-03-16 at 16 47 45" src="https://user-images.githubusercontent.com/624760/111347685-5af26f80-8677-11eb-8d0e-cd1a728b820d.png">

[2021-03-16 16:48] #92 closed

[2021-03-16 17:17] eddiejaoude commented on #93
<img width="433" alt="Screenshot 2021-03-16 at 17 17 37" src="https://user-images.githubusercontent.com/624760/111351876-870fef80-867b-11eb-8694-0d83d287a85a.png">

[2021-03-16 17:17] #93 closed

[2021-03-17 10:55] eddiejaoude opened #94 "Kubernetes workflow to update kubernetes secrets from GitHub"
From issue https://github.com/eddiejaoude/stargate/issues/72#issuecomment-799640072

- update kubernetes workflow to update secrets from GitHub

[code]

- document how to create a new secret on kubernetes

[2021-03-17 22:28] VikasHanumegowda opened #95 "Create Release didn't happen but it didn't fail"
While deploying, create release failed silently without notifying us about the failure @~54:00 of this video - https://www.youtube.com/watch?v=y0COd8fDjac because the release name/tag of v0.5.0 was already taken already.

[2021-03-17 22:44] VikasHanumegowda commented on #95
Okay, the main branch was protected from the action you were trying to make to create a release. (Previously, it had worked for you 'cause you were trying it in a different branch(not main branch)). Hope this comment is helpful for a solution.

[2021-03-18 10:48] #85 closed

[2021-03-18 16:58] eddiejaoude opened #96 "Video for discord bot + Stargate serverless"
Include
- Technologies: Javascript, Stargate serverless
- What is Stargate
- Stargate serverless pricing `$25.00` free every month is about `30M Writes, 5M reads, 40GB storage free monthly`
- Tutorial

[2021-03-19 15:39] Divyaansh313 commented on #94
What exactly do we want to do here ?
Just add a document on how to create secret on K8s ?

[2021-03-19 17:56] kaiwalyakoparkar commented on #82
I would like to work on this. Could  you please guide me?

[2021-03-20 18:19] eddiejaoude opened #98 "Re-order readme file"
**Description**

**Screenshots**

**Additional Context**

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-03-20 18:22] #98 closed

[2021-03-20 18:23] eddiejaoude opened #100 "docs action to only run when changes in docs folder"
**Description**

**Screenshots**

**Additional Context**

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-03-20 18:34] #100 closed

[2021-03-20 22:27] eddiejaoude commented on #19
Soon. There will be some other config changes too, but yes it won't be difficult. I am just holding off for the moment.

[2021-03-21 11:50] eddiejaoude opened #103 "CodeQL GitHub Action"
https://www.nhcarrigan.com/code-snippets/#/github-workflows/codeql-ts-node

[2021-03-21 11:52] #103 closed

[2021-03-21 12:07] eddiejaoude opened #104 "lgtm integration and badge"
**Description**

**Screenshots**

**Additional Context**

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-03-21 12:07] #104 closed

[2021-03-22 11:30] MitanshuShaBa commented on #71
There has been a lot of time since there is any activity here. I would like to work on this.

[2021-03-22 11:47] MitanshuShaBa commented on #82
@kaiwalyakoparkar you can take the badges from #105

You can read how to make a markdown table from [Organizing information with tables
](https://docs.github.com/en/github/writing-on-github/organizing-information-with-tables)

[2021-03-22 17:36] schmelto opened #107 "Add information about next phases not only phase 1"
**Description**

Maybe it would be great if there is an explanation on how many phases there are (not only Phase1) and what comes after phase 1

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-03-22 17:38] nhcarrigan opened #108 "Add a Table of Contents to the README"
**Description**

As discussed on today's live stream, we should add a table of contents to the README.

This could actually be automated via a GitHub action paired with a custom script to parse the readme and generate the content. Alternatively, we could browse the actions marketplace for an existing tool. Either way, this should likely be automated.

**Screenshots**

**Additional Context**

Join

[2021-03-22 17:41] galahad42 opened #109 "Add Table of Contents"
**Description**
Adding a Table of Contents would make the README cleaner and easier to navigate to different sections

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-03-22 17:41] schmelto opened #110 "Add "Made with Love with/by ..." at the end of readme.md"
Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-03-22 17:41] komalswami opened #111 "Add 'made with love and ..'"
**Description**

**Screenshots**

**Additional Context**

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-03-22 17:42] Prathamesh-Shanbhag opened #112 "Pin Issues in the Issues Section."
**As told by Eddie in the stream I'm reminding him!**

[2021-03-22 17:44] srinath1412001 commented on #110
Example
![example](https://user-images.githubusercontent.com/47494475/112034289-51c83d80-8b64-11eb-8dd6-1769484aaa20.png)

[2021-03-22 17:45] srinath1412001 commented on #111
Duplicate issue
Already opened here #110

[2021-03-22 17:46] schmelto commented on #110
@srinath1412001 thanks for adding the screenshot 👍🏼

[2021-03-22 18:09] #111 closed

[2021-03-23 04:02] kaiwalyakoparkar commented on #82
Thank you very much @MitanshuShaBa. May I start working on it or wait for the assignment

[2021-03-23 04:03] MitanshuShaBa commented on #82
You can start working on it I guess

[2021-03-23 04:05] kaiwalyakoparkar commented on #82
Ok thank you!

[2021-03-23 04:42] orama254 opened #113 "Suggestion on creating separate Phase 1 Document"
**Description**
The Phase 1 text appears lower on the readme file.

It's suggested that you create a new file for it then link the file to the readme

*Also*

The phase 1 goals should be mapped onto the user stories and Kanbaned on the projects tab (as suggested by @nhcarrigan )

**Additional Context**

check out the context from the stream starting at [47:00](https://youtu.be/djpH43hsOJI?t=2820)

[2021-03-23 10:36] kaiwalyakoparkar commented on #82
@MitanshuShaBa Could you please guide me on how can I add the required tags?

[2021-03-23 10:41] kaiwalyakoparkar commented on #82
@eddiejaoude, @MitanshuShaBa What should I add-in name, triggers, and results?

[2021-03-23 10:49] MitanshuShaBa commented on #82
Go to .github/workflows and read every yaml file and understand how each action works. And fill the information accordingly

[2021-03-23 10:51] kaiwalyakoparkar commented on #82
Ok thanks I'll have a look at it

[2021-03-23 11:04] kaiwalyakoparkar commented on #82
@MitanshuShaBa Should I add this table after Technologies used section?

[2021-03-23 22:30] #71 closed

[2021-03-24 19:30] #82 closed

[2021-03-24 19:33] eddiejaoude opened #115 "Duplicate badges in readme"
**Description**

**Screenshots**

<img width="1314" alt="Screenshot 2021-03-24 at 19 32 46" src="https://user-images.githubusercontent.com/624760/112372468-bbb52400-8cd7-11eb-8751-5f474bc581a2.png">

**Additional Context**

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-03-24 19:33] #115 closed

[2021-03-24 23:53] eddiejaoude opened #116 "Tracking link for Stargate Sign up"
This link will count how many people click to sign up to DataStax Stargate Serverless https://eddiejaoude.krtra.com/t/CiEQRydj4GdT

[2021-03-24 23:58] #116 closed

[2021-03-29 11:54] Vyvy-vi commented on #108
I think now, we could use github's new README Table of Contents feature?
![Screenshot 2021-03-29 at 4 24 02 PM](https://user-images.githubusercontent.com/62864373/112826953-51bbc680-90ab-11eb-8bd1-96d64358b9ef.png)

[2021-03-29 12:55] nhcarrigan commented on #108
Ooo this is very new. And sleek.

I could complain about remaining platform agnostic and not relying on a specific UI for our documentation, but I think this works well enough for now.

[2021-03-29 12:55] #108 closed

[2021-03-31 04:03] MitanshuShaBa commented on #94
Here is what I think we have to do

- [ ] make a github action which runs on some interval eg: every 24 hours or anytime a secret is changed(I don't know if there is a trigger like this)
- [ ] extract the secret token from github secrets
- [ ] make a secret.yaml file which will create a kubernetes secret
- [ ] apply these changes of secrets using kubectl
- [ ] remove the secret.yaml file to avoid

[2021-03-31 23:31] eddiejaoude opened #117 "Move Label Action to its own repo that can easily be used by other Repos"
- [x] Create custom Action - created https://github.com/EddieHubCommunity/gh-action-open-source-labels
- [x] remove custom action
- [x] use action in link above from market place

[2021-04-01 16:57] eddiejaoude opened #118 "Screenshot in README of demo"
**Description**

**Screenshots**

**Additional Context**

Join Eddie's discord community [here](https://discord.com/invite/jZQs6Wu)

[2021-04-03 07:32] eddiejaoude commented on #118
<img width="1038" alt="Screenshot 2021-04-03 at 08 31 18" src="https://user-images.githubusercontent.com/624760/113471843-0d3b7c80-9457-11eb-9c0c-29abb907c40d.png">

[2021-04-03 07:33] #118 closed

[2021-04-03 09:19] eddiejaoude commented on #111
Thanks for raising @komalswami 👍

Thank you for triaging @srinath1412001 👍

[2021-04-03 09:31] eddiejaoude commented on #109
I think this feature is no longer needed, because GitHub have added the table of contents feature

<img width="1240" alt="Screenshot 2021-04-03 at 10 31 07" src="https://user-images.githubusercontent.com/624760/113474417-c609b780-9467-11eb-9286-6b573da8526d.png">

[2021-04-03 09:31] #109 closed

[2021-04-03 09:32] eddiejaoude commented on #107
Yep good idea, a Roadmap 👍

[2021-04-03 09:33] eddiejaoude commented on #110
Great idea 👍

[2021-04-03 09:34] eddiejaoude commented on #112
Thank you 👍

[2021-04-03 09:35] #117 closed

[2021-04-03 09:36] eddiejaoude commented on #86
Great idea 👍

[2021-04-03 09:36] eddiejaoude commented on #113
Thank you 👍

[2021-04-05 22:27] Sfitzg opened #119 "Typo in the README.md"
**Description**
There is a typo in the `README.md` file under the Github actions section for Docs Status
it reads

should be

**Screenshots**
<img width="873" alt="Screenshot 2021-04-06 at 00 11 14" src="https://user-images.githubusercontent.com/5940631/113633186-c7f09800-966c-11eb-873c-22e3d95219de.png">

**Additional Context**

Join Eddie's discord community [here](https://discord.com/invite/jZQ

[2021-04-06 06:29] eddiejaoude commented on #119
Thank you for raising the issue 👍

[2021-04-06 08:58] eddiejaoude opened #120 "Example docs of CRUD to AstraDB"
Simple examples docs of CRUD to AstraDB could be useful for people

Useful resources

- npm package https://www.npmjs.com/package/@astrajs/collections
- Official docs https://docs.datastax.com/en/astra/docs/astra-collection-client.html

[2021-04-07 13:04] #119 closed

[2021-04-07 13:07] #74 closed

[2021-04-07 13:31] eddiejaoude commented on #83
Oops you are right, thanks @nhcarrigan 👍

[2021-04-07 13:53] #83 closed

[2021-04-07 13:58] eddiejaoude commented on #87
lol yep 😂

[2021-04-07 14:49] eddiejaoude commented on #95
Thank you @VikasHanumegowda 👍 - yep the branch was protected which caused me issues 🤦‍♂️

Sorry for my slow response. I will close this issue as it is now resolved

[2021-04-07 14:49] #95 closed

[2021-04-07 19:00] adityaraute commented on #110
Who's working on this?

[2021-04-07 20:43] eddiejaoude commented on #112
Pinned an issue 🤓

[2021-04-07 20:43] #112 closed

[2021-04-09 15:25] eddiejaoude opened #124 "NestJS Discord bot example"

[2021-04-10 21:22] eddiejaoude commented on #108
Good timing from GitHub features 🤓

[2021-04-11 09:00] eddiejaoude commented on #94
Thank you for collaborating.

- [ ] I think the simplest solution, is for it to run in an existing action every time. It can be appended to this section `https://github.com/eddiejaoude/stargate/blob/main/.github/workflows/docker.yml#L70`
- [ ] then add documentation on how to add another secret, as there could be multiples

I learnt this from Sid. @sidpalas do you have a video on this on your YouT

[2021-04-27 23:45] rafaquelhodev opened #126 "Documentation regarding docker run"
**Description**

Hi all! I tried to run stargate locally using docker following the documentation, but the container did not found the enviroment variables. The command I found in the documentation was `docker run -p 3000:3000 --name stargatebot -d eddiejaoude/stargate`

Then I managed to run with docker passing the env file with `docker run -p 3000:3000 --env-file ./.env --name stargatebot -d edd

[2021-04-30 10:54] eddiejaoude commented on #126
Hi @rafaquelhodev, apologies for the slow reply.

There is still code in branches at the moment, we are also migrating some repos together, including moving the data later to an API https://github.com/EddieHubCommunity/api

The default branch `main` has the foundations for the project, but is still not ready to be used.

Sorry for the confusion.

[2021-04-30 11:44] rafaquelhodev commented on #126
Hi @eddiejaoude , no worries!

[2021-05-04 20:23] #86 closed

[2021-05-04 20:31] #110 closed

[2021-05-10 21:01] RhysLadipo opened #127 "Readme 1st paragraph structure suggestion."
**Readme File Edit**

The structure of the first paragraph in the readme file needs some minor adjustment. The 2nd sentence is too long. I would suggest breaking it up.

**Existing Structure**

Stargate is a data gateway deployed between client applications and a database. _**It's built with extensibility as a first-class citizen and makes it easy to use a database for any application workload by

[2021-05-13 09:26] starlightknown commented on #16
![Screenshot_2021-05-13-14-53-13-213_com discord](https://user-images.githubusercontent.com/74637789/118106369-28f15580-b3fb-11eb-9fe3-1e8dd1452933.jpg)
Would they prefer something like this or any details to create one? I created it for mine.

[2021-05-15 09:13] Cahllagerfeld opened #128 "Github Action got archived"
[This](https://github.com/actions/create-release) actions which you are using for your changelog is currently unmaintained.

[2021-05-15 11:20] eddiejaoude commented on #128
Oh good spot 👍 that must have happened recently.

Some suggestions from their README

- https://github.com/elgohr/Github-Release-Action
- https://github.com/marvinpinto/action-automatic-releases
- https://github.com/softprops/action-gh-release
- https://github.com/ncipollo/release-action

[2021-05-17 01:57] #33 closed

[2021-05-17 01:57] #34 closed

[2021-05-20 01:55] #75 closed

[2021-05-20 01:55] #22 closed

[2021-05-22 01:56] #39 closed

[2021-05-22 01:56] #88 closed

[2021-05-25 15:25] verma-kunal opened #129 "Hide Badges"
**Description**

Suggested to hide the `Fork` & `Stars` badges from the `README.md` file, as they are already displayed in the repo
**Screenshots**

In `README.md`:
![Screenshot 2021-05-25 at 8 54 16 PM](https://user-images.githubusercontent.com/72245772/119524563-6068e600-bd9b-11eb-9018-7a5ce0f96b6f.png)

In `Repo`:
![Screenshot 2021-05-25 at 8 55 01 PM](https://user-images.githubusercontent.com/

[2021-05-27 02:10] #19 closed

[2021-06-11 01:51] #107 closed

[2021-06-11 01:51] #113 closed

[2021-06-15 01:53] #120 closed

[2021-06-17 01:48] #124 closed

[2021-06-23 20:04] eddiejaoude commented on #127
Thank you 👍

[2021-06-24 14:39] niteshseram opened #131 "Add CI badge"
**Description**
We can add CI badge for the Github Actions

[2021-06-26 21:39] eddiejaoude commented on #22
This will be done in the Live Map project https://github.com/EddieHubCommunity/EddieBotLive

[2021-06-30 22:24] eddiejaoude commented on #129
Thank you 👍  - yep removing these badges is a good idea

[2021-06-30 22:48] eddiejaoude commented on #126
Hi @rafaquelhodev , we have split this project into 2, the Discord bot `EddieBot` and the `api` project into the EddieHubCommunity Org http://github.com/EddieHubCommunity/

Come and join us there were we can collaborate 🤓

[2021-06-30 23:00] rafaquelhodev commented on #126
Great! I'm gonna check it out!

[2021-07-01 07:41] eddiejaoude commented on #126
Awesome! Any questions let us know in Discord and we can help 🤓 http://discord.eddiehub.org

[2021-07-10 10:10] Vyvy-vi commented on #45
:/

[2021-07-11 01:48] #38 closed

[2021-07-11 01:48] #43 closed

[2021-07-11 01:48] #51 closed

[2021-07-11 01:48] #25 closed

[2021-07-11 01:48] #29 closed

[2021-07-11 01:48] #32 closed

[2021-07-11 01:48] #18 closed

[2021-07-14 08:39] ghost commented on #19
@eddiejaoude can you fix what the stale bot did? And btw when will we move this repo to EddieHub org, I can fix #45 after that as well since I can propose the project to the organization?

[2021-07-14 08:41] eddiejaoude commented on #19
This repo has been replaced with 2 repos in our GitHub Org, so the move is no longer required.

- https://github.com/EddieHubCommunity/api
- https://github.com/EddieHubCommunity/EddieBot

[2021-07-22 17:47] adityaraute commented on #131
@eddiejaoude What do you think of this?

[2021-07-22 17:48] adityaraute commented on #127
Do you plan on creating a PR for this @RhysLadipo ?

[2021-07-22 17:48] adityaraute commented on #45
What's the plan here?

[2021-07-22 17:50] adityaraute commented on #128
Okay how do I create a PR for this?

[2021-08-25 01:45] #94 closed

[2021-09-08 01:45] #126 closed

[2021-10-19 07:56] adityaraute commented on #129
The PR for this is Open. Will be better if we close the PR and wrap this issue up.

[2021-10-24 22:34] eddiejaoude commented on #128
Updated the existing GitHub Action that creates the release to a new version https://github.com/eddiejaoude/stargate/blob/main/.github/workflows/changelog.yml

[2021-11-21 04:38] gptkrsh commented on #131
I would love to work on this 😄

[2021-11-21 04:38] gptkrsh commented on #128
I would love to work on this 😄